.game {
  &__rules {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#000000, .8);
  }
  &__rules-container {
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    text-align: right;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
  }
  &__rules-text {
    margin: 0 0 20px;
    text-align: left;
  }
  &__rules-btn {
    color: #fff;
    background-color: #2c5364;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
}