@import "~normalize.css";
@import "variables.scss";
@import "components/rules.scss";
@import "components/cards.scss";

* {
  box-sizing: border-box;
}

.App {
  color: #fff;
  font-family: "Tangerine", cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.game {
  &__navbar {
    background: #0f2027;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
  }
  &__title {
    margin: 0;
    font-size: 50px;
  }
  &__scores {
    text-align: right;
  }
  &__score {
    font-size: 35px;
  }
  &__main {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    flex: 1 1 0;
    padding: 30px;
  }
}
